.dashPlusBtn {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 12px 24px;
	border-radius: 8px;
	border: 1px dashed var(--gray200);
	width: max-content;
	cursor: pointer;
	background-color: transparent;
	transition: all 0.3s ease;
}

.dashPlusBtn > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 12px;
	border: 1px dashed var(--gray200);
}

.dashPlusBtn > div svg {
	display: block;
	width: 16px;
	height: 16px;
	stroke: var(--gray200);
}

.dashPlusBtn > span {
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	color: var(--gray600);
}

.dashPlusBtn:hover,
.dashPlusBtn.active {
	box-shadow: 0 0 10px 0 var(--primary100);
}
